* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.dowload-main{
    height: 135px;
    background-color:red ;
    display: flex;
}
.dowload{
    padding: 8px;
    color: rgb(235, 245, 245);
    background: linear-gradient(to right, #0b0e2b, #372121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:align-items;
}
.dowloadTitle{
    text-align: center;

}
.dowloadTitle h2{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
}
.dowloadTitle p{
    font-size: 20px;
    font-family: 'Noto Sans Kawi', sans-serif;
}
.subDowload{
    margin: 10px;
    padding: 30px;
    background-color: rgba(65, 57, 171, 0.1);
    border-radius: 20px;
    height: 360px;
    width: 300px;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .subDowload:hover {
    cursor: pointer;
    transform: scale(1.05); /* Agranda el plan en un 5% al pasar el mouse */
    background-color: rgba(50, 42, 126, 0.2); /* Cambia el color a uno más oscuro */
}
  .subDowload h4{
    font-size: 20px;
    font-family: 'Noto Sans Kawi', sans-serif;
    text-align: center;
  }

  .subDowload  a {
    text-decoration: none; /* Elimina el subrayado */
    color: #ded3d3;
    margin: 20px;
  }
  .subDowload a img{
 
    width: 250px;

  }